@charset 'UTF-8';
#header{width:100%;height:485px; box-shadow:0px 1px 40px 5px #ccc;}
#header .top{width:100%;height:45px;background:#343434;}
#header .nav{width:100%;height:60px;background-image:url("../images/nav-bg.png"); background-repeat:repeat-x;}
#header .pic{width:100%;height:380px;overflow:hidden;}
/*header top*/
#header .top .wrap{width:1000px;height:100%;}
#header .top .wrap .div1{width:250px;height:100%;background-image:url("../images/top-l.png");background-position:0px 0px;background-repeat:no-repeat;}
#header .top .wrap .div2{width:395px;height:100%;}
#header .top .wrap .div2 .dv1{width:75px;height:100%;text-align:center;}
#header .top .wrap .div2 .dv2{width:75px;height:100%;text-align:center;}
#header .top .wrap .div2 a{color:#fff;display:block;margin-top:15px;}
#header .top .wrap .div2 .a1{border-right:1px solid #fff;}
#header .top .wrap .div2 .dv3{width:235px;height:100%;}
#header .top .wrap .div2 .dv3 input{width:220px;height:25px;margin-top:10px;padding-left:10px;color:#ccc;border-radius:10px; border:none;outline:none;}
#header .top .wrap .div2 .dv3 label{width:25px; height:25px;display:block;background:url("../images/sousuo.png");background-repeat:no-repeat;background-position:0px 3px;right:7px;top:50%;margin-top:-12.5px;}
/*header nav*/
#header .nav .navition{width:1000px;height:100%;}
#header .nav .navition li{list-style:none;}
#header .nav .navition .first{width:250px;height:100%;}
#header .nav .navition .first img{position:absolute;top:-25px;left:50%;margin-left:-100px;}
#header .nav .navition .second{width:91px;height:100%;text-align:center;}
#header .nav .navition .second a{width:91px;height:100%;display:block;line-height:60px;font-family:"Microsoft Yahei";}
#header .nav .navition .interval{width:2px;height:100%;}
/*header pic*/
#header .pic .ul1{width:300%;height:100%;}
#header .pic .ul1 li{width:33.33%;height:100%;list-style:none;}
#header .pic .ul1 .li1{background-image:url("../images/pic.jpg");background-repeat:no-repeat;background-position:center;}
#header .pic .ul1 .li2{background-image:url("../images/pic.jpg");background-repeat:no-repeat;background-position:center;}
#header .pic .ul1 .li3{background-image:url("../images/pic.jpg");background-repeat:no-repeat;background-position:center;}
#header .pic .ul2{width:72px;height:14px;top:345px;right:300px;}
#header .pic .ul2 li{list-style:none;width:14px;height:14px;margin-right:6px;}
#header .pic .ul2 .li1{background-image:url("../images/scroll-bg2.png");background-repeat:no-repeat;}
#header .pic .ul2 .li2{background-image:url("../images/scroll-bg.png");background-repeat:no-repeat;}
#header .pic .ul2 .li3{background-image:url("../images/scroll-bg.png");background-repeat:no-repeat;}
/*mian*/
#main{width:100%;height:1005px;}
#main .dv1{width:1000px;height:965px;margin:45px auto 0px;}
/*mian dv1 show1*/
#main .dv1 .show1{width:1000px;height:260px;}
#main .dv1 .show1 .show1-l{width:720px;height:260px;padding-left:20px;border:1px solid #ccc;background:#f8f8f8;border-radius:8px;}
#main .dv1 .show1 .show1-r{width:230px;height:260px;}
/*#main .dv1 .show1 .show1-l*/
#main .dv1 .show1 .show1-l .head{width:700px;height:44px;border-bottom:1px solid #ccc;}
#main .dv1 .show1 .show1-l .head a{line-height:44px;color:#025489;}
#main .dv1 .show1 .show1-l .head .p1{line-height:44px;color:#ccc;font-style:oblique;margin-left:10px;}
#main .dv1 .show1 .show1-l .container{width:700px;height:215px;}
#main .dv1 .show1 .show1-l .container li{list-style:none;width:160px;height:215px;}
#main .dv1 .show1 .show1-l .container .li1,.li2,.li3{margin-right:20px;}
#main .dv1 .show1 .show1-l .container li .a1-1{display:block;width:160px;height:120px;background-image:url("../images/show01.png");background-repeat:no-repeat;margin-top:15px;}
#main .dv1 .show1 .show1-l .container li .intro1{ margin-top:5px;}
#main .dv1 .show1 .show1-l .container li .a2{display:block; margin-top:8px;color:#ccc;}
#main .dv1 .show1 .show1-l .container li .intro3{ margin-top:8px;color:red;}
#main .dv1 .show1 .show1-l .container li .a1-2{display:block;width:160px;height:120px;background-image:url("../images/show02.png");background-repeat:no-repeat;margin-top:15px;}
#main .dv1 .show1 .show1-l .container li .a1-3{display:block;width:160px;height:120px;background-image:url("../images/show03.png");background-repeat:no-repeat;margin-top:15px;}
#main .dv1 .show1 .show1-l .container li .a1-4{display:block;width:160px;height:120px;background-image:url("../images/show04.png");background-repeat:no-repeat;margin-top:15px;}
/*#main .dv1 .show1 .show1-r*/
#main .dv1 .show1 .show1-r li{list-style:none;position:relative;}
#main .dv1 .show1 .show1-r .li1{width:230px;height:45px;background-image:url("../images/daohang01.png");background-repeat:no-repeat;background-position:-3px 0px;margin-bottom:15px;}
#main .dv1 .show1 .show1-r .li2{width:230px;height:32px;background-image:url("../images/daohang02.png");background-repeat:no-repeat;background-position:0px 0px;}
#main .dv1 .show1 .show1-r .li3{width:228px;height:30px;background-image:url("../images/daohang03.png");background-repeat:no-repeat;background-position:0px 0px;margin-top:10px;border:1px solid #ccc;border-radius:5px;}
#main .dv1 .show1 .show1-r .li4{width:228px;height:30px;background-image:url("../images/daohang03.png");background-repeat:no-repeat;background-position:0px 0px;margin-top:10px;border:1px solid #ccc;border-radius:5px;}
#main .dv1 .show1 .show1-r .li5{width:228px;height:30px;background-image:url("../images/daohang03.png");background-repeat:no-repeat;background-position:0px 0px;margin-top:10px;border:1px solid #ccc;border-radius:5px;}
#main .dv1 .show1 .show1-r .li6{width:228px;height:30px;background-image:url("../images/daohang03.png");background-repeat:no-repeat;background-position:0px 0px;margin-top:10px;border:1px solid #ccc;border-radius:5px;}
#main .dv1 .show1 .show1-r li a{text-align:center;display:block;}
#main .dv1 .show1 .show1-r .li1 a{width:230px;height:45px;line-height:45px;font-style:oblique;color:#fff;}
#main .dv1 .show1 .show1-r .li2 a{width:230px;height:32px;line-height:32px;color:#fff;}
#main .dv1 .show1 .show1-r .li3,.li4,.li5,.li6 a{width:228px;height:30px;line-height:32px;color:#000;}
#main .dv1 .show1 .show1-r li div{position:absolute;}
#main .dv1 .show1 .show1-r li .tan1{width:0px;height:0px;border:7px solid #fff;border-top-color:transparent;border-bottom-color:transparent;border-right:none;top:50%;margin-top:-6.5px;left:50px;}
#main .dv1 .show1 .show1-r li .tan2{width:0px;height:0px;border:7px solid #05547d;border-top-color:transparent;border-bottom-color:transparent;border-right:none;top:50%;margin-top:-6.5px;left:50px;}
/*mian dv1 show2*/
#main .dv1 .show2{width:1000px;height:260px; margin-top:20px;}
#main .dv1 .show2 .show2-1{width:230px;height:260px;}
#main .dv1 .show2 .show2-2{width:280px;height:260px;border:1px solid #ccc;margin-left:30px;border-radius:5px;padding-left:20px;background:#f8f8f8;}
#main .dv1 .show2 .show2-3{width:390px;height:260px;border:1px solid #ccc;border-radius:5px;padding-left:20px;background:#f8f8f8;}
/*mian dv1 show2 show2-1*/
#main .dv1 .show2 .show2-1 li{width:210px;height:80px;padding-left:20px;list-style:none;background-image:url("../images/show02-1-1.png");border-radius:5px;font-style:oblique;}
#main .dv1 .show2 .show2-1 .cols2{margin:10px 0px 10px 0px;}
#main .dv1 .show2 .show2-1 li a{width:230px;height:80px;color:#005883;display:block;line-height:80px;}
#main .dv1 .show2 .show2-1 li a span{color:#ccc;margin-left:10px;}
/*mian dv1 show2 show2-2*/
#main .dv1 .show2 .show2-2 .head{width:260px;height:44px;border-bottom:1px solid #ccc;}
#main .dv1 .show2 .show2-2 .head a{line-height:44px;color:#025489;}
#main .dv1 .show2 .show2-2 .head .p1{line-height:44px;color:#ccc;font-style:oblique;margin-left:10px;}
#main .dv1 .show2 .show2-2 .container{width:260px;height:215px;}
#main .dv1 .show2 .show2-2 .container .intro-pic{display:block;width:258px;height:82px;margin-top:15px;background-image:url("../images/show02-2.png");}
#main .dv1 .show2 .show2-2 .container .intro-p{display:block;width:260px;margin-top:15px;line-height:20px;text-indent:2em;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp:4;overflow: hidden;text-overflow:ellipsis;}
/*mian dv1 show2 show2-3*/
#main .dv1 .show2 .show2-3 .head{width:370px;height:44px;}
#main .dv1 .show2 .show2-3 .head a{line-height:44px;color:#025489;}
#main .dv1 .show2 .show2-3 .head .p1{line-height:44px;color:#ccc;font-style:oblique;margin-left:10px;}
#main .dv1 .show2 .show2-3 .mian{width:370px;height:115px;margin-bottom:10px;border-top:1px solid #ccc;border-bottom:1px dashed #ccc;}
#main .dv1 .show2 .show2-3 .mian .left{width:110px;height:82px;margin:15px 0px 0px 20px;background-image:url("../images/show02-3.png");}
#main .dv1 .show2 .show2-3 .mian .right{width:230px;height:115px;}
#main .dv1 .show2 .show2-3 .mian .top{width:230px;display:block;margin-top:30px;}
#main .dv1 .show2 .show2-3 .mian .bottom{width:230px;display:block;margin-top:10px;text-indent:2em;color:#666666;}
#main .dv1 .show2 .show2-3 .footer{width:350px;margin-left:20px;line-height:25px;}
/*mian dv1 show2 show3*/
#main .dv1 .show3{width:1000px;height:250px;margin-top:20px;}
/*mian dv1 show2 show3 show3-l*/
#main .dv1 .show3 .show3-l{width:720px;height:250px;padding-left:20px;border:1px solid #ccc;background:#f8f8f8;border-radius:8px;}
#main .dv1 .show3 .show3-l .head{width:700px;height:44px;border-bottom:1px solid #ccc;}
#main .dv1 .show3 .show3-l .head a{line-height:44px;color:#025489;}
#main .dv1 .show3 .show3-l .head .p1{line-height:44px;color:#ccc;font-style:oblique;margin-left:10px;}
#main .dv1 .show3 .show3-l .container{width:700px;height:215px;}
#main .dv1 .show3 .show3-l .container li{list-style:none;width:160px;height:215px;}
#main .dv1 .show3 .show3-l .container .li1,.li2,.li3{margin-right:20px;}
#main .dv1 .show3 .show3-l .container li .a1-1{display:block;width:160px;height:120px;background-image:url("../images/show03-l-1.png");background-repeat:no-repeat;margin-top:15px;}
#main .dv1 .show3 .show3-l .container li .intro1{ margin-top:5px;}
#main .dv1 .show3 .show3-l .container li .a2{display:block; margin-top:8px;color:#959595;}
#main .dv1 .show3 .show3-l .container li .a1-2{display:block;width:160px;height:120px;background-image:url("../images/show03-l-2.png");background-repeat:no-repeat;margin-top:15px;}
#main .dv1 .show3 .show3-l .container li .a1-3{display:block;width:160px;height:120px;background-image:url("../images/show03-l-1.png");background-repeat:no-repeat;margin-top:15px;}
#main .dv1 .show3 .show3-l .container li .a1-4{display:block;width:160px;height:120px;background-image:url("../images/show03-l-2.png");background-repeat:no-repeat;margin-top:15px;}
/*mian dv1 show3 show3-2*/
#main .dv1 .show3 .show3-2{width:208px;height:248px;border:1px solid #ccc;border-radius:5px;background:#f8f8f8;padding-left:20px;}
#main .dv1 .show3 .show3-2 .head{width:190px;height:44px;border-bottom:1px solid #ccc;margin-bottom:10px;}
#main .dv1 .show3 .show3-2 .head a{line-height:44px;color:#025489;}
#main .dv1 .show3 .show3-2 .head .p1{line-height:44px;color:#ccc;font-style:oblique;margin-left:10px;}
#main .dv1 .show3 .show3-2 .mian {width:190px;}
#main .dv1 .show3 .show3-2 .mian li{list-style:none;line-height:25px;}
/*mian dv1 show4*/
#main .dv1 .show4{width:978px;height:138px;border:1px solid #ccc;background:#f8f8f8;border-radius:5px;margin-top:20px;padding-left:20px;}
#main .dv1 .show4 .head{width:960px;height:44px;border-bottom:1px solid #ccc;margin-bottom:10px;}
#main .dv1 .show4 .head a{line-height:44px;color:#025489;}
#main .dv1 .show4 .head .p1{line-height:44px;color:#ccc;font-style:oblique;margin-left:10px;}
#main .dv1 .show4 .container{width:864px;height:52px;margin-top:20px;background-image:url("../images/show04-1.png");}
/*mian dv2*/
#main .dv2{width:100%;height:11px;margin-top:30px;background-image:url("../images/show-footer.png");background-repeat:repeat-x;}
/*footer*/
#footer{width:100%;height:245px;background:#003e65;}
#footer .dv{width:950px;height:235px;margin:auto;}
#footer .dv .header{width:100%;height:65px;}
#footer .dv .header a{color:#fff;font-style:oblique;line-height:65px;}
#footer .dv .header .a2{margin-left:5px;}
#footer .dv .nav{width:100%;height:2px;background-image:url("../images/footer-nav.png");background-repeat:no-repeat;}
#footer .dv .first{width:100%;height:44px;}
#footer .dv .first li{list-style:none;float:left;line-height:44px;}
#footer .dv .first li a{color:#79a8c2;}
#footer .dv .first .link{width:50px;height:44px;}
#footer .dv .first .interval{width:65px;height:44px;color:#79a8c2;text-align:center;}
#footer .dv .first .link1{width:48px;height:44px;}
#footer .dv .first .interval1{width:40px;height:44px;color:#79a8c2;text-align:center;}
#footer .dv .address{width:100%;height:44px;color:#79a8c2;}
#footer .dv .address p{line-height:44px;}
/*aside*/
#aside{width:108px;height:354px;position:fixed;top:50%;margin-top:-54px;right:45px;}
#aside .container{width:108px;height:318px;background:#f4f4f4;border:1px solid #ccc;box-shadow:0px 0px 5px 0px #ccc;border-radius:54px;}
#aside .container .kefu{width:51px;height:47px;margin:20px auto 0px;background-image:url("../images/aside-1.png");}
#aside .container p{text-align:center;}
#aside .container .p1{color:#005483;margin-top:5px;font-weight:bold;}
#aside .container .mian{width:108px;height:163px;border-top:1px dotted #ccc;}
#aside .container .mian .qq{width:103px;height:35px;border-radius:3px;background-image:url("../images/aside-qq.png");margin:10px 2px 10px;}
#aside .container .mian .qq a{display:block;width:103px;height:35px;}
#aside .container .mian .erweima{width:70px;height:70px;margin:auto;background:url("../images/aside-erweima.png");}
#aside .container .p2{text-align:center;}
#aside .container .p2 a{color:#005483;}
#aside .container .img1{top:305px;left:50%;margin-left:-15px;}

/*±ä»»*/
#header .nav .navition .second a:hover{color:#005483;}
#main .dv1 .show1 .show1-l .container li .a2:hover{color:red;text-decoration:underline;}
#main .dv1 .show2 .show2-2 .container .intro-p:hover{color:#005483;text-decoration:underline;}
#main .dv1 .show2 .show2-3 .mian .right .top:hover{color:#005483;text-decoration:underline;}
#main .dv1 .show2 .show2-3 .footer a:hover{color:#005483;text-decoration:underline;}
