.relative-person {
  padding: 16px 10px 0 16px;
  font-size: 13px;
  color: #525252;
}
.relative-person p {
  color: #525252;
  font-weight: 600;
}
.relative-person .persons {
  display: flex;
}
.relative-person .persons .photo-list {
  flex: 1;
  white-space: nowrap;
  margin-top: 10px;
  padding-bottom: 10px;
  overflow-x: hidden;
  margin-right: 57px;
}
.relative-person .persons .photo-list li {
  display: inline-block;
  margin-right: 6px;
}
.relative-person .persons .photo-list li img {
  border-radius: 50%;
  overflow: hidden;
}
.relative-person .persons .icon {
  line-height: 62px;
}

.position--tags {
  margin: 12px 12px 20px 12px;
}

.position---tags {
  margin: 16px 12px 20px 12px;
}

.position-tags {
  font-size: 15px;
  color: #5A5A5A;
  white-space: nowrap;
  overflow: hidden;
}
.position-tags .tag {
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 5px 17px;
  margin-right: 6px;
  display: inline-block;
}
.position-tags .current {
  background-color: #B7C0C8;
  color: #FFFFFF;
}

.my-recommend, .others-recommend {
  padding: 12px;
  margin: 0 6px 6px 6px;
  border: 0.5px solid #DCDCDC;
  box-shadow: 0 1px 1px 0 #DCDCDC;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.my-recommend .author, .others-recommend .author {
  margin-bottom: 9px;
}
.my-recommend .author img, .others-recommend .author img {
  border-radius: 50%;
  overflow: hidden;
  vertical-align: middle;
  color: #5A5A5A;
  font-size: 11px;
}
.my-recommend .author .name, .others-recommend .author .name {
  margin-left: 6px;
  vertical-align: middle;
}
.my-recommend .author .name em, .others-recommend .author .name em {
  margin-left: 8px;
  color: #C8C7CC;
}
.my-recommend .attractions, .others-recommend .attractions {
  margin-bottom: 4px;
}
.my-recommend .attractions li, .others-recommend .attractions li {
  display: inline-block;
  padding-right: 4px;
}
.my-recommend .detail-info, .others-recommend .detail-info {
  color: #A0A0A0;
  font-size: 10px;
}
.my-recommend .already-adopt, .others-recommend .already-adopt {
  position: absolute;
  margin-top: -4px;
  right: 24px;
}
.my-recommend .already-adopt img, .others-recommend .already-adopt img {
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}

.footer {
  width: 100%;
  text-align: center;
  line-height: 49px;
  background-color: #B7C0C8;
  height: 49px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  color: #FFFFFF;
}
.footer .icon {
  color: #FFFFFF;
  font-size: 16px;
}

.is-right {
  background-color: #EB4C5D;
}

body {
  -webkit-text-size-adjust: 100%;
  padding-bottom: 49px;
}

.head {
  text-align: center;
  margin-top: 0;
  height: 75px;
  padding-top: 22px;
  background: url(../images/bg_wenda.png) no-repeat;
  background-size: 100% 100%;
}
.head p {
  font-size: 20px;
  color: #FFFFFF;
}

.plan {
  padding: 16px 16px 30px 16px;
  font-size: 13px;
  color: #A4A4A4;
}
.plan p {
  font-size: 15px;
  color: #57646E;
  margin-bottom: 10px;
}
.plan .important-information span {
  margin-right: 12px;
  display: inline-block;
  white-space: nowrap;
}
.plan .detail {
  margin-top: 4px;
  line-height: 22px;
  overflow: hidden;
}
.plan .btn-toggle {
  float: right;
}
.plan .moving {
  display: block;
}

.recommend-switcher {
  padding: 16px 16px 0 16px;
  border-bottom: 1px solid #F5F5F5;
  margin-bottom: 13px;
}
.recommend-switcher li {
  display: inline-block;
  margin-right: 30px;
  font-size: 13px;
  border-bottom: 1px solid transparent;
  padding: 10px 2px;
}
.recommend-switcher .selected {
  border-bottom: 1px solid #EB4C5D;
}

#my-recommend-list, #others-recommend-list {
  display: none;
}

#my-recommend-list.is-selected, #others-recommend-list.is-selected {
  display: block;
}
