body {
  background-color: #F5F5F5;
}

.page-opacity {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.detail {
  background-color: #FFFFFF;
  font-size: 14px;
  color: #5A5A5A;
}
.detail .attractions {
  padding: 16px 0 12px 0;
  margin: 0 12px 0 12px;
  border-bottom: 1px solid #F5F5F5;
}
.detail .attractions li {
  display: inline-block;
  margin-right: 4px;
}
.detail .tips {
  line-height: 22px;
  padding: 12px;
}

.btn-delete {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #868686;
  font-size: 16px;
  background-color: #FFFFFF;
  line-height: 49px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.prompt-box {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  opacity: 1;
}
.prompt-box .delete {
  text-align: center;
  heiht: 114px;
  line-height: 57px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFFFFF;
  border-radius: 10px;
}
.prompt-box .delete .delete-prompt {
  border-bottom: 1px solid rgba(77, 77, 77, 0.78);
  font-size: 14px;
  color: #787878;
}
.prompt-box .delete .btn--delete {
  font-size: 20px;
}
.prompt-box .cancel {
  height: 57px;
  line-height: 57px;
  text-align: center;
  margin: 9px 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-size: 20px;
}
