::-webkit-input-placeholder {
  color: #b7c0c8;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
h1,
ul,
ol,
h1,
h2,
h3,
h4,
p,
a,
form,
label,
nav,
pre,
i,
sub,
em
{
  margin: 0;
  padding: 0;
}


input,
select,
button,
textarea {
  -webkit-appearance: none;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

select,
button {
  padding: 0;
  border: 0;
  background-color: transparent;
}

pre {
  font-family: 'PingFangSC-Regular', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
}

a {
  color: #525252;
  text-decoration: none;
}

h1, h2, h3 {
  font-size: 100%;
  font-weight: 500
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

em {
  font-style: normal;
}

body {
  font: 12px/1.5 'PingFangSC-Regular', 'Microsoft YaHei', Helvetica, Arial, sans-serif;
  color: #333;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

.ui-hidden-element {
  display: none !important;
}

.ui-space {
  height: 13px;
}

.ui-space--gray {
  background-color: #f5f5f5;
}

.line-space {
  height: 16px;
  width: 100%;
  background-color: #f5f5f5;
}
