.empty-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
}
.empty-container .icon-blank {
  font-size: 48px;
}
.empty-container .empty-text {
  display: block;
  margin: 30px 0;
  font-size: 14px;
  color: #999;
}
