
.relative-person{
  padding:16px 10px 0 16px;
  font-size: 13px;
  color:#525252;
  p{
    color:#525252;
    font-weight: 600;
  }
  .persons{
    display: flex;
    .photo-list{
      flex: 1;
      white-space: nowrap;
      margin-top: 10px;
      padding-bottom: 10px;
      overflow-x: hidden;
      margin-right:57px;
      li{
        display: inline-block;
        margin-right: 6px;
        img{
          border-radius: 50%;
          overflow: hidden;
        }
      }
    }
    .icon{
      line-height: 62px;
    }
  }
}
.position--tags{
  margin:12px 12px 20px 12px;
}
.position---tags{
  margin:16px 12px 20px 12px;
}
.position-tags{
  font-size: 15px;
  color:#5A5A5A;
  white-space: nowrap;
  overflow: hidden;
  .tag{
    background-color:#F5F5F5;
    border-radius:3px;
    padding:5px 17px;
    margin-right:6px;
    display: inline-block;
  }
  .current{
    background-color: #B7C0C8;
    color:#FFFFFF;
  }
}

.my-recommend,.others-recommend{
  padding:12px;
  margin:0 6px 6px 6px;
  border: 0.5px solid #DCDCDC;
  box-shadow: 0 1px 1px 0 #DCDCDC;
  border-radius: 6px;
  background-color: #FFFFFF;
  .author{
    margin-bottom: 9px;
    img{
      border-radius: 50%;
      overflow: hidden;
      vertical-align:middle;
      color:#5A5A5A;
      font-size: 11px;
    }
    .name{
      margin-left: 6px;
      vertical-align:middle;
      em{
        margin-left: 8px;
        color:#C8C7CC;
      }
    }
  }
  .attractions {
    margin-bottom: 4px;
    li{
      display: inline-block;
      padding-right: 4px;
    }
  }
  .detail-info{
    color:#A0A0A0;
    font-size: 10px;
  }
  .already-adopt{
    position:absolute;
    margin-top: -4px;
    right: 24px;
    img{
      border-radius: 50%;
      overflow: hidden;
      z-index: 100;
    }
  }
}

.footer{
  width: 100%;
  text-align: center;
  line-height: 49px;
  background-color: #B7C0C8;
  height: 49px;
  position: fixed;
  bottom: 0;
  font-size: 16px;
  color:#FFFFFF;
  .icon{
    color:#FFFFFF;
    font-size: 16px;
  }
}
.is-right{
  background-color: #EB4C5D ;
}

